# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/
*.venv
*.env

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore SQLite database files
*.sqlite3

# Ignore backup files
*.bak
*.swp

# Ignore local settings
local_settings.py

# Ignore media files
media/

# Ignore static files
staticfiles/
static/

# Ignore node_modules
node_modules/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore mypy
.mypy_cache/

# Ignore Pyright
.pyright/

# Ignore Pyre
.pyre/

# Ignore pytest cache
.pytest_cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Ignore any other unwanted files
*.bak

/data